#bg {
  height: 800px;
  width: 100%;
}

#greeting{
  color: white;
  font-size: 50px;
  font-family: Dancing Script;
}

.header-row{
  display: flex;
  justify-content: center;
  text-align: center;
}

.changeImage{
  position: absolute;
  top: 8px;
  right: 16px;
  font-size: 18px;
}

.google-search{
  text-align: center;
}

.text-input{
  background-color: rgba(255,255,255,0.5);
  width: 20%;
  height: 30px;
  border-radius:10px;
  border: none;
}

.search-button{
  border-radius:5px;
  border: none;
  background-color: green;
  color: white;
}

.google-logo{
  display: block;
  margin: 80px auto 20px;
  height: 150px;
}

.icon-button{
  background-color: transparent;
  border: none;
  height: 100px;
  width: 100px;
  margin-left: 1%;
  margin-right: 1%;
  border-radius: 100%;
}

.image-button{
  position: absolute;
  top: 8px;
  left: 16px;
  background-color: transparent;
  border: none;
  height: 30px;
  width: 30px;
  border-radius: 100%;
}

.center-table{
  text-align: center;
  margin-top: 3%;
}
